.academic-main-container {
    width: 100%;
    height: 100%;
}

.breadcrumb {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #0e0d0d69;
}

.breadcrumb span {
    padding-left: 20px;
}

.my-header {
    padding: 10px 0;
    font-size: 25px;
    padding-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.folder {
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.folder:hover {
    background-color: #e0e0e0;
}

.folder-content {
    display: none;
    margin-left: 20px;
    border-left: 2px solid #ccc;
    padding-left: 10px;
}

.folder.period-folder {
    width: 100%;
}

.folder.department-folder {
    margin-left: 30px;
    display: block; /* allow it to show inside the folder-content */
}

.student-table-container {
    overflow-x: auto;
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

th {
    font-size: 10px;
}

td {
    font-size: 10px;
}

.exportBtn {
      border: 1px solid #009a17;
    color: rgb(0, 55, 3);
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    margin-top: 15px;
}