* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.main-content {
    width: 100%;
    height: 100%;
}

.content-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.sidebar-container {
    width: 20%;
    height: 100%;
    margin-left: 30px;
}

.logo {
    width: 100px;
    height: 100px;
    top: 10%;
    left: 20px;
}

.just-shipped {
    position: relative;
    top: 15%;
    padding-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    font-size: 15px;
}

.s {
    padding-left: 10px;
}

.login-header {
    width: 80%;
    position: relative;
    top: 20%;
    padding-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


.login-form-container {
    width: 100%;
    height: auto;
}

.login-form-container {
    position: relative;
    top: 30%;
    padding-left: 20px;
}

.form-box {
    margin-bottom: 15px; /* spacing per field */
}

.form-box label {
    display: block; /* make label take full width, forcing input below */
    margin-bottom: 5px; /* small spacing above input */
    font-weight: 600;   /* optional styling */
    font-size: 12px;
}

.form-box input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 35px;
}

.remember-row {
    display: flex;
    justify-content: space-between; /* space out left and right */
    align-items: center;
    margin-top: 25px;
}

.remember-left {
    display: flex;
    align-items: center;
    gap: 5px; /* small spacing between checkbox and label */
}

.remember-right a {
    text-decoration: none;
    color: orangered;
    font-size: 14px;
    margin-right: 10px;
}

.remember-right a:hover {
    text-decoration: underline;
}


.loginBtn {
    padding-top: 20px;
}

.loginBtn a{
    text-decoration: none;
}


.signin {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(orangered, rgb(215, 57, 0));
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 12px; 
}

.or {
    padding-top: 15px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.signup {
   width: 100%;
   margin-top: 20px;
    height: 40px;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background: white;
    box-shadow: 0px 0px 5px 0px;
}

.google-logo {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.term-conditions {
    margin-top: 15px;
    font-size: 11px;
    text-align: left;
    color: #555;
    line-height: 1.4;
}

.term-conditions a {
    color: orangered;
    text-decoration: none;
}

.term-conditions a:hover {
    text-decoration: underline;
}

.footer {
    margin-top: 20px;
    width: 70%;
}

.footer p{
    font-size: 12px;
}

.footer span {
    color: rgb(248, 70, 5);
}


.logo-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.logo-image img {
    width: 40%;
    height: 40%;
    margin-top: 25%;
}