    .my-class-main-container {
        width: 100%;
        height: 100%;
    }


    .span {
        display: flex;
        align-items: center;
    }

    .span span {
        margin: 10px;
        font-size: 14px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #0e0d0d69;
    }

    .my-header {
        padding: 10px;
        font-size: 28px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .class-search {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: right;
        padding: 20px;
    }

     .class-search  input {
        width: 300px;
        height: 32px;
        padding-left: 5px;
        border-radius: 7px;
        border: none;
        box-shadow: 0px 0px 4px 0px;
     }

    .my-class-main-box-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 20px;
        flex-wrap: wrap;
        padding-top: 10px;
        padding: 10px;
    }

    .my-box {
        width: 350px;
        height: max-content;
        padding-bottom: 10px;
        box-shadow: 0px 0px 5px 0px gray;
        border-radius: 12px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .my-class-header {
        width: 100%;
        height: 110px;
        border-bottom: 1px solid gray;
    }

    .my-c {
        padding: 20px;
        font-size: 20px;
    }

    .subheader {
        padding-left: 20px;
        font-size: 24px;
    }

    .middle-c {
    line-height: 1.2; /* adds vertical spacing between lines */
    margin-top: 15px;
    margin-bottom: 10px;
}

.middle-c span {
    margin-left: 10px;
    display: block; /* ensures each span takes its own line */
    margin-bottom: 6px; /* adds extra spacing between lines */
    font-size: 13px; /* optional, for better readability */
}


.bottom-c {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid gray;
    padding-top: 40px;
}

.bottom-c span {
    font-size: 13px;
    padding-left: 10px;
}

.bottom-c i {
   margin-right: 20px;
   font-size: 25px;
   color: rgba(2, 0, 17, 0.456);
}