    .my-class-main-container {
        width: 100%;
        height: 100%;
    }


    .span {
        display: flex;
        align-items: center;
    }

    .span span {
        margin: 10px;
        font-size: 14px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #0e0d0d69;
    }

    .my-header {
        padding: 10px;
        font-size: 28px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .class-search {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: right;
        padding: 20px;
    }

     .class-search  input {
        width: 300px;
        height: 32px;
        padding-left: 5px;
        border-radius: 7px;
        border: none;
        box-shadow: 0px 0px 4px 0px;
     }

    .my-class-main-box-container {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .my-box {
        width: 340px;
        height: 250px;
        box-shadow: 0px 0px  2px 0px;
        border-radius: 12px;
    }

    .my-box-c {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid rgba(44, 44, 44, 0.159);
    }

    .my-box-c img {
        width: 80px;
    }

    .m-subcontainer {
        padding-left: 5px;
        margin: 5px;
    }

    .my-box-head {
        padding-top: 10px;
        font-size: 18px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .my-descriptive {
        padding-top: 5px;
        font-size: 25px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

   .my-class-details-container {
    width: 100%;
    padding-top: 15px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    }

    .my-class-details-container ul {
        display: flex;
        flex-wrap: wrap; /* para mag line break kung kulang space */
        list-style: none;
        padding: 0;
        margin: 0;
        justify-content: space-between; /* left and right alignment */
    }

    .my-class-details-container li {
        width: 48%; /* duha ka item per row */
        margin-bottom: 8px;
        display: flex;
        font-size: 14px;
        padding-left: 4px;
    }

    .my-class-details-container span {
        padding-left: 5px;
    }


    .my-class-bottom {
        width: 100%;
        align-items: center;
        display: flex;
        padding: 5px;
        padding-top: 15px;
    }
    .email {
        font-size: 12px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .viewBtn {
        width: 150px;
        height: 35px;
        border-radius: 8px;
        border: none;
        background: linear-gradient(rgb(243, 65, 0), rgb(255, 74, 9));
        font-size: 12px;
        color: #fff;
    }