.my-class-archived-main-container {
    width: 100%;
    height: 100%;
}

.span {
        display: flex;
        align-items: center;
    }

    .span span {
        margin: 10px;
        font-size: 14px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #0e0d0d69;
    }

    .my-header {
        padding: 10px;
        font-size: 25px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

 .archive-folder-main-container {
    width: 100%;
    padding-top: 20px;
}

.archive-folder-box {
    width: 100%;
    height: 40px; /* gi-dako ang height (from 40px to 80px) */
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 18px; /* gi-dako ang emoji */
}

.archive-folder-box:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.year-box {
    width: 96%;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 4%;
    font-size: 15px; /* gi-dako ang emoji */
    padding-left: 10px;
    border-radius: 7px;
}

.year-box:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    transition: scale 0.3s;
}

.semester-box {
    width: 94%;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 6%;
    font-size: 15px; /* gi-dako ang emoji */
    padding-left: 10px;
    border-radius: 7px; 
}

.semester-box:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    transition: scale 0.3s;
}
