.my-class-archived-main-container {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.breadcrumb {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #0e0d0d69;
}

.my-header {
    padding: 10px 0;
    font-size: 25px;
}

.folder {
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.folder:hover {
    background-color: #e0e0e0;
}

.folder-content {
    display: none;
    margin-left: 20px;
    border-left: 2px solid #ccc;
    padding-left: 10px;
}

.grade-archive-view {
    width: 80%;
    max-height: 85%;
    box-shadow: 0px 0px 5px;
    position: fixed;
    background: #fff;
    border-radius: 10px;
    overflow-y: scroll;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.a-header-close {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-icon {
    cursor: pointer;
    font-size: 20px;
    color: #444;
}

.close-icon:hover {
    color: red;
}

.acad-details, .acad-container {
    padding: 10px 0;
}

.table-container {
    overflow-x: auto;
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

th {
    font-size: 13px;
}

td {
    font-size: 14px;
}
.i-header {
    padding-top: 10px;
        font-family: 'Lucida Sans', sans-serif;

    font-size: 14px;
    padding-bottom: 10px;
}

.d-header {
    padding-top: 8px;
        font-family: 'Lucida Sans', sans-serif;
    font-size: 13.5px;
    padding-bottom: 8px;
}

.s-header {
    padding-top: 5px;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 13px;
    padding-bottom: 5px;
}

.gBtn {
    border: 1px solid #009a17;
    color: rgb(0, 55, 3);
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    margin-top: 15px;
    width: 150px;
}