.student-grades-main-container {
    width: 100%;
    height: 100%;
}

.breadcrumb {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #0e0d0d69;
}

.breadcrumb span {
    padding-left: 20px;
}

.my-header {
    padding: 10px 0;
    font-size: 25px;
    padding-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}